*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    letter-spacing: 1px;
}
body{
    display:flex;
    min-height: 100vh;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    padding: 20px;
    margin: 10px;
}
.container
{
    box-shadow: 0 0 15px white;   
}
.display input{
    outline: 0;
    border: 0;
    width: 90%;
    font-size: 30px;
    background-color:white;
    color: background: #fff;
    margin:10px;
    width: 325px;
    text-align: right;
}
button{
    background-color:  rgb(115, 115, 243);
    color:white;
    height: 60px;
    width: 60px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 20px;
}
button:active{
    background: black;
    color:white;
}
.opr{
    background: orange;
    color:black;
}
#eqbtn{
    background: orangered;
}


